@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  text-align: center;
}

body{
  background: url("./seamless-bg.svg");
  /* background-repeat:repeat-x; */
  background-size: 250px;
  background-color: #A1A1AA;
}

input {
  margin: 1vh;
  padding: 1vh;
}

::selection {
  color: #A855F7;
  background: inherit;
}