@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-head {
  font-family: "Abril Fatface";
  font-size: 3em;
}

.viewport-container {
  height: 72vh;
}

body {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

input {
  border-radius: 8px;
  border: 2px solid transparent;
  transition: border-color 0.25s;
}

input:focus {
  outline: none;
  border-color: #646cff;
}

button:hover {
  border-color: #646cff;
}
